/* Colors */
/*
    RavnBlack - #121212
    Text/Dark - #333333
    Text/Light - #828282
    Text/Emphasis - #EC5757
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Neutrality */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Text */
h1{
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}
h2{
    font-size: 17px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}
.h2-low-emphasis{
    color: rgba(0, 0, 0, 0.3);
}
.h2-high-emphasis{
    color: rgba(235, 87, 87, 1);
}
p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}
.p-low-emphasis{
    color: rgba(0, 0, 0, 0.5);
}

/*** Header ***/
header{
    width: 100%;
    padding: 16px 32px;
    background-color: #121212;
    color: #FFFFFF;
    position: fixed;
}

/*** AllPeople ***/
.cont-all-people{
    width: 25%;
    padding-top: 52px;
}
.all-people{
    width: 90%;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 1200px;
}
/** Person **/
.person-cell{
    width: 100%-32pt;
    margin-left: 16pt;
    padding: 16pt 0pt;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
}
.person-cell:hover{
    cursor:pointer;
}
.person-cell-info{
    width: 80%;
}
.person-cell-icon{
    font-size: 20pt;
    font-weight: 700;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*** Description ***/
.description{
    width: 75%;
    position:fixed;
    right: 0;
    top:52px;
}
.wrap-description{
    width: 80%;
    margin: 0 auto;
}
.wrap-description-message{
    width: 20%;
    margin: 0 auto;
}
.box-sub-title{
    padding: 32px 0 8px 0;
}
/** Description box **/
.box-information{
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.box-left{
    width: 20%;
    float: left;
    padding: 14px 0 15px 0;
}
.box-right{
    width: 80%-16px;
    float:right;
    text-align: right;
    padding: 14px 16px 15px 0;
}

/** Loading & Error**/
.message{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}
.loading-img{
    width: 10%;
}
.loading-img img{
    width: 100%;
}